
  <div >
    <form [formGroup]="form">
      <div>
        <select class="form-control form-control-sm border-info" name="nomenclatura"
          (change)="escribirNomenclatura()" formControlName="nomenclatura">
          <option [value]=" item.id" *ngFor="let item of listaNomenclaturas">{{item.valor}}</option>
        </select>
        <input *ngIf="type==1;else numero" type="text" name="descripcion" formControlName="descripcion">
        <ng-template #numero> <input type="number" name="descripcion" formControlName="descripcion"></ng-template>
        <button class="btn btn-primary" (click)="cargarDireccion()">Agregar</button>
      </div>
      <br>
      <div>
        <label>Dirección Completa:</label>
        <input type="text" formControlName="direccionCompleta" readonly>
      </div>
      <br>
      <div>
        <label>Dirección:</label>
        <input type="text" formControlName="direccion" readonly>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="enviarMensaje()">Agregar dirección</button>
  </div>